// 公共样式
$blue:#386cca;
html,
body{
  font-size: 62.5%;
  height: 100%;
  overflow: hidden;
}
#app {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}
  a{
    outline:none;
  }
  p,h1,h2,h3,h4,h5,h6,b,em,div,input,textarea{
    color: #48576a;
  }
  input,textarea,button{
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  }
// Icon 公共样式
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.el-row{
  height: 100%;
  .el-col{
    height: 100%;
  }
}

.el-popover {
  padding: 0 !important;
}
#search-root{
  .el-checkbox{
    width: 100%;
    .el-checkbox__input{
      float: right;
    }
    .el-checkbox__label{
      float: left;
    }
  }
  .el-checkbox-group{
    .el-checkbox{
      margin-bottom: 8px;
      &:after{
        content: "";
        display: block;
        clear:both;
      }
    }
    .el-checkbox__input{
      float: right;
    }
    .el-checkbox__label{
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width:82%;
    }
  }
}
.el-checkbox{
  .el-checkbox__inner{
    height: 1em;
    width: 1em;
    font-size: 1em;
  }
  .el-checkbox__label{
    // display: none !important;
  }
}

// 设置按钮的文字颜色为黑色
.el-button,
.el-button--text{
  // color: #000;
  &:hover {
    // color: #000;
  }
  &:focus{
    // color: #000;
  }
}

// 设置添加分类的弹出窗中的选框向右浮动，fileInfo.vue
.popover-category-tree{
  .el-checkbox{
    float: right;
    margin-right: 2em;
    font-size: 15px;
  }
  .el-tree-node__label{
    font-size: 15px;
  }
}

// 设置卡片内边距为 0
.el-card{
  .el-card__body{
    padding: 0;
  }
}
// 表格表头文本居中
.el-table th{
  text-align: center;
}
.el-table .el-table__row{
  text-align: center;
}
.el-checkbox__inner::after{
  left: 3px;
}
.el-checkbox__inner{
  border-radius: 2px;
}
//表头颜色
.el-table__footer-wrapper thead div,
.el-table__header-wrapper thead div {
  background-color: #fff;
}
.el-table th {
  background-color: #fff;
}
.el-table__row{
  &:hover{
    cursor: pointer;
  }
}
.el-checkbox+.el-checkbox{
  margin-left: 0;
}

.el-table__row img{
  width:24px;
  height:24px;
  vertical-align:middle;
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #ccc;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}



