// 公共样式
$blue:#386cca;
html,
body {
  font-size: 62.5%;
  height: 100%;
  overflow: hidden;
}

#app {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  height: 100%;
  width: 100%;
  background: #fff;
}

* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-user-select: none;
  user-select: none; // cursor: default;
}

a {
  outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
b,
em,
div,
input,
textarea {
  color: #48576a;
}

input,
textarea,
button {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

// Icon 公共样式
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.el-row {
  height: 100%;
  .el-col {
    height: 100%;
  }
}

.el-popover {
  padding: 0 !important;
}

.el-checkbox__input.is-focus .el-checkbox__inner {
  border-color: #bfcbd9;
  &:hover {
    border-color: #20a0ff;
  }
}
#search-root {
  .el-checkbox {
    width: 100%;
    .el-checkbox__input {
      float: right;
      margin-top: 2.5px;
    }
    .el-checkbox__label {
      float: left;
    }
  }
  .el-checkbox-group {
    .el-checkbox {
      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }
    .el-checkbox__input {
      float: right;
    }
    .el-checkbox__label {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 82%;
    }
  }
}

.el-checkbox {
  .el-checkbox__inner {
    height: 14px;
    width: 14px;
    font-size: 10px;
  }
  .el-checkbox__label {
    // display: none !important;
  }
}

// 设置按钮的文字颜色为黑色
.el-button,
.el-button--text {
  // color: #000;
  &:hover {
    // color: #000;
  }
  &:focus {
    // color: #000;
  }
}

.el-button span {
  font-size: 12px;
}

.el-tabs__item {
  font-size: 13px;
}

.drawWrap {
  .el-form-item {
    margin-bottom: 16px;
  }
}

// 设置添加分类的弹出窗中的选框向右浮动，fileInfo.vue
.popover-category-tree {
  .el-checkbox {
    float: right;
    margin-right: 2em;
    font-size: 15px;
  }
  .el-tree-node__label {
    font-size: 15px;
  }
}

// 设置卡片内边距为 0
.el-card {
  .el-card__body {
    padding: 0;
  }
}

// 表格表头文本居中
.el-table th {
  text-align: center;
  border-right: 1px solid #ddd;
  cursor: pointer;
  &:nth-child(1) {
    border-right: none;
  }
}

.el-table .el-table__row {
  text-align: center;
}

.el-checkbox__inner::after {
  left: 3px;
  top: 0;
  border-color: #999;
}

.el-checkbox__inner {
  border-radius: 2px;
}

//表头颜色
.el-table__footer-wrapper thead div,
.el-table__header-wrapper thead div {
  background-color: #fff;
}

.el-table th {
  background-color: #fff;
}

.el-table__row {
  &:hover {
    cursor: pointer;
  }
}

.el-checkbox+.el-checkbox {
  margin-left: 0;
}

.el-table__row img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.el-menu--horizontal.el-menu--dark .el-submenu .el-menu-item.is-active,
.el-menu-item.is-active {
  color: #fff;
  background: #386cca;
}

.el-menu--horizontal.el-menu--dark .el-submenu .el-menu-item.is-active,
.el-menu-item.is-active span {
  color: #fff;
}

.el-badge__content.is-fixed {
  top: 21px;
  right: -6px;
}

.el-badge__content {
  border: none;
}

.el-table .cell {
  white-space: nowrap;
}

.el-form-item__label {
  font-size: 13px;
}

.el-color-picker__trigger {
  margin-left: 12px;
}

.tag-group {
  left: 4px;
  top: 3px;
  position: absolute;
  .el-tag {
    cursor: default;
  }
}

.el-tag .el-icon-close {
  font-size: 10px;
}

//select font family 
.el-select-dropdown__item span {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #ccc;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

#svg_cyjjfx_clusterpic {
  .heatmaplink {
    fill: none;
    stroke: #333;
    stroke-width: 1px;
  }
  .heatmap_rect:hover {
    opacity: 0.5;
    stroke: #FFF;
    stroke-width: 2px;
  }
  .heatmapaxis text {
    font-size: 12px;
  }
  .heatmapaxis line,
  .heatmapaxis path {
    stroke: #ccc
  }
}

.drawWrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  .selectPath {
    cursor: pointer;
    line-height: 36px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    &:hover {
      color: #386cca;
    }
  }
  &>p {
    padding: 0 16px;
    line-height: 36px;
    border-bottom: 1px solid #ccc;
    span {
      &:last-child {
        color: #386cca;
      }
      &:first-child {
        &:hover {
          color: #386cca;
        }
      }
    }
  }
  .el-radio__input.is-checked .el-radio__inner {
    border-color: #386cca;
    background: #386cca;
  }
  .el-tabs__item.is-active {
    color: #386cca;
  }
  .el-tabs__active-bar {
    background-color: #386cca;
  }
  .table-wrap .el-checkbox__input.is-checked .el-checkbox__inner {
    background-color: #fff!important;
    border-color: #386cca!important;
  }
  .el-textarea__inner:focus {
    border-color: #386cca;
  }
  .el-select-dropdown__item {
    &.selected {
      &.hover {
        background-color: #386cca!important;
      }
    }
  }
  .el-select-dropdown__item.selected {
    background-color: #386cca;
  }
  .el-input__inner:focus {
    border-color: #386cca;
  }
  #tools_draw_context {
    padding: 20px;
    display: flex;
    width: 100%;
    height: 100%;
    .options {
      padding-right: 20px;
      width: 440px;
      height: 100%;
      overflow-y: auto;
      .el-form {
        font-size: 12px;
      }
      ul {
        li {
          list-style: none;
          border: 1px solid #ccc;
          border-radius: 8px;
          margin-bottom: 40px;
          &:last-child {
            margin-bottom: none;
          }
          .title {
            font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
            padding: 12px;
            font-size: 14px;
            line-height: 1;
            border-bottom: 1px solid #ccc;
          }
          .context {
            padding: 6px 12px;
            &>p {
              font-size: 13px;
            }
          }
        }
      }
    }
    .draw-content {
      flex: 1;
      margin-left: 20px;
      border: 2px solid #ccc;
      overflow-x: auto;
      overflow-y: hidden;
      ul {
        list-style: none;
        &:after {
          content: "";
          display: block;
          clear: both;
        }
        li {
          float: left;
          width: 74px;
          height: 24px;
          text-align: center;
          line-height: 24px;
          background: #386cca;
          color: #fff;
          opacity: 0.5;
          margin-right: 1px;
          cursor: pointer;
          &.active {
            opacity: 1;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .tab {
        padding: 40px;
        height: calc(100% - 24px);
        background: #fff;
      }
    }
  }
  .el-button,
  .el-textarea__inner {
    font-size: 13px;
  }
}

.form-row-radio {
  .el-radio+.el-radio {
    margin-left: 0;
  }
  .el-radio {
    margin-top: 12px;
    color: #48576a;
  }
  .el-radio__label {
    color: #48576a;
    font-size: 13px!important;
  }
}

.el-radio__label {
  font-size: 13px;
  color: #48576a;
}

.el-select-dropdown__item.selected.hover {
  background-color: #386cca;
}

.el-select-dropdown__item.selected {
  background-color: #386cca;
}

.el-checkbox__inner:hover {
  border-color: #999!important;
}

.el-checkbox__input.isfocus .el-checkbox__inner:hover {
  border-color: #386cca;
}

.el-table__header-wrapper {
  table {
    width: 100%!important;
  }
}

.el-table__body-wrapper {
  overflow-y: scroll!important;
  height: calc(100% - 40px)!important;
  table {
    width: 100%!important;
  }
}

.el-table__empty-block {
  width: 100%!important;
}

.el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content {
  background-color: #edf7ff;
}

.el-checkbox-button__original,
.el-pagination--small .arrow.disabled,
.el-table .hidden-columns,
.el-table td.is-hidden>*,
.el-table th.is-hidden>*,
.el-table--hidden {
  visibility: visible;
}

.el-switch.is-checked .el-switch__core {
  border-color: #386cca;
  background-color: #386cca;
}

.el-input-group__append .el-button,
.el-input-group__append .el-select,
.el-input-group__prepend .el-button,
.el-input-group__prepend .el-select {
  display: inline-block;
}

.icon-line {
  .iconfont {
    width: 18px;
    height: 18px;
    margin-right: 12px;
    vertical-align: top;
    margin-top: -1px;
  }
}

button {
  &.submit {
    height: 36px;
    width: 100px;
  }
}

.el-textarea {
  textarea {
    height: 140px;
  }
}

.el-checkbox__input.is-checked .el-checkbox__inner {
  background-color: #fff;
  border-color: #ccc;
}

.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: #999;
  border-color: #ccc;
}

.el-icon-close:before {
  font-size: 9px;
}

.user-select {
  -webkit-user-select: text;
  user-select: text;
  cursor: text;
}

.el-button--primary {
  background-color: #386cca;
  border-color: #386cca;
}

#newDiskFile-root {
  .btn-first:hover {
    color: #386cca;
    border-color: #386cca;
  }
}

.el-button--primary:focus,
.el-button--primary:hover {
  background-color: #386cca;
  border-color: #386cca;
  opacity: .8;
}

.btn-hover:hover {
  opacity: .8;
}
.el-checkbox__label{
  padding-left: 0;
}
.no-data{
  color: #a6afbf;
}