// 公共样式
html,
body{
  font-size: 62.5%;
  height: 100%;
  overflow: hidden;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}
// Icon 公共样式
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.el-row{
  height: 100%;
  .el-col{
    height: 100%;
  }
}

.el-popover {
  padding: 0 !important;
}

// 隐藏全选框的 label
.el-checkbox{
  .el-checkbox__inner{
    height: 1em;
    width: 1em;
    font-size: 1em;
  }
  .el-checkbox__label{
    // display: none !important;
  }
}

// 设置按钮的文字颜色为黑色
.el-button,
.el-button--text{
  // color: #000;
  &:hover {
    // color: #000;
  }
  &:focus{
    // color: #000;
  }
}

// 设置添加分类的弹出窗中的选框向右浮动，fileInfo.vue
.popover-sort-tree{
  .el-checkbox{
    float: right;
    margin-right: 2em;
    font-size: 15px;
  }
  .el-tree-node__label{
    font-size: 15px;
  }
}

// 设置卡片内边距为 0
.el-card{
  .el-card__body{
    padding: 0;
  }
}
// 表格表头文本居中
.el-table th{
  text-align: center;
}
.el-table .el-table__row{
  text-align: center;
}